<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lagranjaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/granjapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/granjapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CalificarTareaPut"></activity>
        <activity
            android:name=".CalificarActividad"
            android:label="Selecciona una tarea" />
        <activity
            android:name=".PopCalificar"
            android:label="Calificar Tarea" />
        <activity
            android:name=".VerEquipo"
            android:label="Mi equipo" />
        <activity
            android:name=".PopDetalles"
            android:label="Detalles"
            android:theme="@style/Theme.AppCompat.PopUp" />
        <activity
            android:name=".AgregarAplicacion"
            android:label="Agregar Aplicacion" />
        <activity
            android:name=".EditarCamada"
            android:parentActivityName=".Camada" />
        <activity
            android:name=".AgregarAnimal"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".InformacionEquipo" />
        <activity
            android:name=".Usuario1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditarTareaPut"
            android:label="Editar tarea"
            android:parentActivityName=".EditarTareaPut" />
        <activity
            android:name=".EditarTarea"
            android:label="Selecciona una tarea"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Actividades" />
        <activity
            android:name=".Aplicaciones"
            android:label="Aplicaciones realizadas"
            android:parentActivityName=".Plantings" />
        <activity
            android:name=".Plantings"
            android:parentActivityName=".Subzona" />
        <activity
            android:name=".Subzona"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CambiarNombre"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Camada"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AgregarTarea"
            android:label="Agregar Tarea"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".AgregarPlanting"
            android:parentActivityName=".Plantings" />
    </application>

</manifest>